{% load django_bootstrap5 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body style="padding: 72px 0px 0px;">

	<div class="container">

		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="{% url 'letter_app:index' %}">My MESSENGER</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="{% url 'letter_app:index' %}">Главная</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="{% url 'letter_app:write_message' %}">
		             Написать
		          </a>
		        </li>
		        <!-- <li class="nav-item">
		          <a class="nav-link active" href="{% url 'letter_app:messages' %}">Все</a>
		        </li> -->
		        <li class="nav-item">
		          <a class="nav-link active" href="{% url 'letter_app:input_messages' %}">Входящие</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link active" href="{% url 'letter_app:output_messages' %}">Отправленные</a>
		        </li>
		      </ul>

		      <ul class="navbar-nav ml-auto">
		        {% if user.is_authenticated %}
		          <li class="nav-item">
		            <a class="nav-link" href="">Привет, {{ user.username }}.</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link active" href="{% url 'accounts:logout' %}">Выйти</a>
		          </li>
		        {% else %}
	              <li class="nav-item">
		            <a class="nav-link" href="{% url 'accounts:register' %}">Регистрация</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link active" href="{% url 'accounts:login' %}">Войти</a></li>
		        {% endif %}
		     </ul>

		    </div>
		  </div>
		</nav>

	</div>

	<main class="container">
		<div>
			{% block page_header %}{% endblock page_header %}
		</div>

		<div class="">
			{% block content %}{% endblock content %}
		</div>

		<div class="p-4">
			{% block pagenation %}{% endblock pagenation %}
		</div>
	</main>

  </body>
</html>
