{% extends 'letter_app/base.html' %}

{% block content %}
<!-- bg-body-tertiary  -->
<div class="bg-light p-5 rounded">
   <h1>Вы вошил в систему ({{ user.username }}).</h1>
   <br><h3>Привет</h2>
   <br><h4>Инструкция:</h3>
  <p class="lead"> 
  	Если ты пользуешься телефоном или планшетом:
  	<br>Cправа вверху находится квадрат с тремя полоскама.
    Нажать на него откроется меню, нажать второй раз меню закроется.
    <br>Если ты пользуешься компьютером:
    <br>Меню бедет находится просто вверху.
  </p>
  <!-- <p class="lead">
  	Cправа вверху находится квадрат с тремя полоскама.
    Нажать на него откроется меню, нажать второй раз меню закроется.
  </p> -->
  <p class="lead">
  	В меню:
  	<br>Главная - это вот эта страничка с подсказкой которую ты сейчас читаешь.
    <br>Написать - это написать мне сообщение.
    <br>Входящие - это сообщения от меня тебе.
    <br>Отправленные - это сообщения от тебя мне.
    <br>Выхот - это выйти с сайта чтоб не кто не прочитал.
  </p>
  <p class="lead">
  	Нажми "Входящие" я там оставил тебе сообщение.
  	Напиши мне ответ.
  	Напиши все ли тебе здесь понятно.
  </p>
</div>
{% endblock content %}