{% extends "letter_app/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
<h3>Отправленные ({{output_number}})</h3>
<p>
   <a href="{% url 'letter_app:write_message' %}">Написать </a>
</p>
{% endblock page_header %}

{% block pagenation %}

<nav aria-label="Page navigation example" class="nav justify-content-center">
  <ul class="pagination">

  	{% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">Первая</a></li>
    <!-- <li class="page-item"><a class="page-link" href="#">...</a></li> -->
    <li class="page-item">
    	<a class="page-link" href="?page={{ page_obj.previous_page_number }}">
    	   {{ page_obj.previous_page_number }}
    	</a>
    </li>
    {% endif %}

    <li class="page-item active">
    	<a class="page-link" href="?page={{ page_obj.number }}">
    		{{ page_obj.number }}
    		<!-- из {{ page_obj.paginator.num_pages }} -->
    	</a>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
    	<a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
    </li>
    <!-- <li class="page-item"><a class="page-link" href="#">...</a></li> -->
    <li class="page-item">
    	<a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
    </li>
    {% endif %}

  </ul>
</nav>
{% endblock pagenation %}

{% block content %}
{% for page in page_obj %}
<div class="card mb-3 text-bg-light">
   <div class="card-header">
      <!-- id:{{output_message.id}} -->
      Отправил: {{page.owner}} 
	  <!-- {{ output_message.date_added|date:'M d, Y H:i' }} -->
	  {{ page.date_added|date:"d-m-Y, H:i" }}
   </div>
   <div class="card-body">
      {{ page.text|linebreaks }}
  </div>
</div>
{% empty %}
<li>There are no messages yet.</li>
<li>Сообщений пока нет.</li>
{% endfor %}

<!-- output full outpyt message -->
<!-- {% for output_message in output_messages %}
<div class="card mb-3 text-bg-light">
   <div class="card-header">
      id:{{output_message.id}}
      Отправил: {{output_message.owner}} 
	  {{ output_message.date_added|date:'M d, Y H:i' }}
	  {{ output_message.date_added|date:"d-m-Y, H:i" }}
   </div>
   <div class="card-body">
      {{ output_message.text|linebreaks }}
  </div>
</div>
{% empty %}
<li>There are no messages yet.</li>
<li>Сообщений пока нет.</li>
{% endfor %} -->

{% endblock content %}
